<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="KeyboardOctave">
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYC" variable="m_pPnlKeyC" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYD" variable="m_pPnlKeyD" member="yes">
					<size>100,98</size>
					<bg>#8000FF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYE" variable="m_pPnlKeyE" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYF" variable="m_pPnlKeyF" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYG" variable="m_pPnlKeyG" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYA" variable="m_pPnlKeyA" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PNLKEYB" variable="m_pPnlKeyB" member="yes">
					<size>20,98</size>
					<bg>#FFFFFF</bg>
					<minsize>-1,50</minsize>
					<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnKeyDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnKeyUp" entry="EVT_LEFT_UP" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
