<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="VZ_EditorFrame">
		<title>riban Casio VZ-x Voice Editor and Library</title>
		<centered>1</centered>
		<icon code="wxBitmap(icon_xpm)" />
		<size>-1,-1</size>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="m_pSizerMain" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer8" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>MIDI Input Port</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CMBINPORT" variable="m_pCmbInPort" member="yes">
							<tooltip>Select MIDI input port</tooltip>
							<handler function="OnInPortSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>MIDI Output Port</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CMBOUTPORT" variable="m_pCmbOutPort" member="yes">
							<tooltip>Select MIDI output port</tooltip>
							<handler function="OnOutPortSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Keyboard" variable="m_pChkKeyboard" member="yes">
							<label>Keyboard</label>
							<handler function="OnChkKeyboard" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHKAUTOUPDATE" variable="m_pChkAutoUpdate" member="yes">
							<label>Auto Update</label>
							<tooltip>Enable automatic, immediate send of changes</tooltip>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTNSEND" variable="m_pBtnSend" member="yes">
							<label>Send</label>
							<tooltip>Send data to MIDI output</tooltip>
							<handler function="OnBtnSendClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTNGETVOICE" variable="m_pBtnGetVoice" member="yes">
							<label>Get Voice</label>
							<enabled>0</enabled>
							<tooltip>Load voice data recieved from MIDI input</tooltip>
							<handler function="OnBtnGetVoice" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="IID_BTNGETOPERATION" variable="m_pBtnGetOperation" member="yes">
							<label>Get Operation</label>
							<enabled>0</enabled>
							<tooltip>Load operational data recieved from MIDI input</tooltip>
							<handler function="OnBtnGetOperation" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BTNSAVEDUMP" variable="m_pBtnSaveDump" member="yes">
							<label>Save Dump</label>
							<handler function="OnBtnSaveDump" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK" variable="m_pNotebook" member="yes">
					<tooltip>Select voice library tab</tooltip>
					<style>wxNB_NOPAGETHEME</style>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PNLLIBRARY" variable="m_pPnlLibrary" member="yes">
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="Custom" name="ID_LSTLIB" subclass="SortableList" variable="m_pLstLib" member="yes">
										<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
										<include_file>sortablelist.h</include_file>
										<local_include>1</local_include>
										<style></style>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Voice Library</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PNLVOICE" variable="m_pPnlVoice" member="yes">
							<tooltip>Select voice editor tab</tooltip>
							<object class="wxBoxSizer" variable="BoxSizer1" member="no">
								<object class="sizeritem">
									<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
										<sashgravity>1.000000</sashgravity>
										<minpanesize>10</minpanesize>
										<orientation>vertical</orientation>
										<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="m_pScrollWinVoiceEditor" member="yes">
											<object class="wxBoxSizer" variable="BoxSizer3" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="Custom" name="ID_LINE1" subclass="VZLine" variable="m_pLine1" member="yes">
														<creating_code>$(THIS) = new $(CLASS)($(PARENT), 0);</creating_code>
														<include_file>vzline.h</include_file>
														<local_include>1</local_include>
														<style></style>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="Custom" name="ID_LINE2" subclass="VZLine" variable="m_pLine2" member="yes">
														<creating_code>$(THIS) = new $(CLASS)($(PARENT), 1);</creating_code>
														<include_file>vzline.h</include_file>
														<local_include>1</local_include>
														<style></style>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="Custom" name="ID_LINE3" subclass="VZLine" variable="m_pLine3" member="yes">
														<creating_code>$(THIS) = new $(CLASS)($(PARENT), 2);</creating_code>
														<include_file>vzline.h</include_file>
														<local_include>1</local_include>
														<style></style>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="Custom" name="ID_LINE4" subclass="VZLine" variable="m_pLine4" member="yes">
														<creating_code>$(THIS) = new $(CLASS)($(PARENT), 3);</creating_code>
														<include_file>vzline.h</include_file>
														<local_include>1</local_include>
														<style></style>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
										</object>
										<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW2" variable="m_pScrollwindowGlobalParameters" member="yes">
											<style>wxVSCROLL</style>
											<object class="wxBoxSizer" variable="m_pFlexgridGlobalParameters" member="yes">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer9" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
																<label>Voice Name</label>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_pTxtVoiceName" member="yes">
																<maxlength>12</maxlength>
																<validator>m__validateVoiceName</validator>
																<tooltip>Edit voice name</tooltip>
																<handler function="OnTxtVoiceNameText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer10" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT30" variable="StaticText30" member="yes">
																<label>Level</label>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxSlider" name="ID_SLIDERLEVEL" variable="m_pSliderLevel" member="yes">
																<value>99</value>
																<max>99</max>
																<tooltip>Set voice output level</tooltip>
																<style>wxSL_INVERSE</style>
																<handler function="OnLevelChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
														<label>DCO</label>
														<object class="sizeritem">
															<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
																<cols>2</cols>
																<growablecols>1</growablecols>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
																		<label>Octave</label>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxSlider" name="ID_SLIDEROCTAVE" variable="m_pSliderOctave" member="yes">
																		<min>-2</min>
																		<max>2</max>
																		<tooltip>Set DCO octave</tooltip>
																		<style>wxSL_HORIZONTAL</style>
																		<handler function="OnOctaveChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
																		<label>Velocity&#x0A;Sensitivity</label>
																		<style>wxALIGN_CENTRE</style>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxSlider" name="ID_SLIDERVELSENS" variable="m_pSliderVelSens" member="yes">
																		<max>31</max>
																		<tooltip>Set DCO velocity sensitivity</tooltip>
																		<style>wxSL_HORIZONTAL</style>
																		<handler function="OnDcoVelSensChange" entry="EVT_COMMAND_SCROLL_CHANGED" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT12" variable="m_pLblVelCurve" member="yes">
																		<label>Curve</label>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxChoice" name="ID_CMBVELCURVE" variable="m_pCmbVelCurve" member="yes">
																		<content>
																			<item>Curve 1</item>
																			<item>Curve 2</item>
																			<item>Curve 3</item>
																			<item>Curve 4</item>
																			<item>Curve 5</item>
																			<item>Curve 6</item>
																			<item>Curve 7</item>
																			<item>Curve 8</item>
																		</content>
																		<selection>0</selection>
																		<tooltip>Select DCO curve</tooltip>
																		<handler function="OnCmbVelCurveSelect" entry="EVT_CHOICE" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
												</object>
												<object class="sizeritem">
													<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
														<label>Tremelo</label>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer11" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxRadioBox" name="ID_RADIOTREMELOMULTI" variable="m_pRadioTremeloMulti" member="yes">
																		<label>Multi</label>
																		<content>
																			<item>Off</item>
																			<item>On</item>
																		</content>
																		<default>-1</default>
																		<tooltip>Select tremelo multi</tooltip>
																		<handler function="OnRadioTremeloMultiSelect" entry="EVT_RADIOBOX" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxRadioBox" name="ID_RADIOTREMELOWAVEFORM" variable="m_pRadioTremeloWaveform" member="yes">
																		<label>Waveform</label>
																		<content>
																			<item>Triangle</item>
																			<item>Saw Up</item>
																			<item>Saw Down</item>
																			<item>Square</item>
																		</content>
																		<default>-1</default>
																		<tooltip>Select tremelo waveform</tooltip>
																		<style>wxRA_HORIZONTAL</style>
																		<handler function="OnRadioTremeloWaveformSelect" entry="EVT_RADIOBOX" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer12" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
																		<label>Depth</label>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxSlider" name="ID_SLIDERTREMELODEPTH" variable="m_pSliderTremeloDepth" member="yes">
																		<max>99</max>
																		<size>20,100</size>
																		<tooltip>Set tremelo depth</tooltip>
																		<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																		<handler function="OnTremeloDepthChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																	</object>
																	<flag>wxALL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer13" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
																		<label>Rate</label>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxSlider" name="ID_SLIDERTREMELORATE" variable="m_pSliderTremeloRate" member="yes">
																		<max>99</max>
																		<size>20,100</size>
																		<tooltip>Set tremelo rate</tooltip>
																		<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																		<handler function="OnTremeloRateChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																	</object>
																	<flag>wxALL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer14" member="no">
																<orient>wxVERTICAL</orient>
																<object class="sizeritem">
																	<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
																		<label>Delay</label>
																	</object>
																	<flag>wxALL</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxSlider" name="ID_SLIDERTREMELODELAY" variable="m_pSliderTremeloDelay" member="yes">
																		<max>99</max>
																		<size>20,100</size>
																		<tooltip>Set tremelo delay</tooltip>
																		<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																		<handler function="OnTremeloDelayChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																	</object>
																	<flag>wxALL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
														<label>Vibrato</label>
														<object class="sizeritem">
															<object class="wxBoxSizer" variable="BoxSizer15" member="no">
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer16" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxRadioBox" name="ID_RADIOBOX3" variable="m_pRadioVibratoMulti" member="yes">
																				<label>Multi</label>
																				<content>
																					<item>Off</item>
																					<item>On</item>
																				</content>
																				<default>-1</default>
																				<tooltip>Select vibrato multi</tooltip>
																				<handler function="OnRadioVibratoMultiSelect" entry="EVT_RADIOBOX" />
																			</object>
																			<flag>wxALL|wxEXPAND</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxRadioBox" name="ID_RADIOBOX4" variable="m_pRadioVibratoWaveform" member="yes">
																				<label>Waveform</label>
																				<content>
																					<item>Triangle</item>
																					<item>Saw Up</item>
																					<item>Saw Down</item>
																					<item>Square</item>
																				</content>
																				<default>-1</default>
																				<tooltip>Select vibrato waveform</tooltip>
																				<style>wxRA_HORIZONTAL</style>
																				<handler function="OnRadioVibratoWaveformSelect" entry="EVT_RADIOBOX" />
																			</object>
																			<flag>wxALL|wxEXPAND</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer4" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
																				<label>Depth</label>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																		</object>
																		<object class="sizeritem">
																			<object class="wxSlider" name="ID_SLIDER5" variable="m_pSliderVibratoDepth" member="yes">
																				<max>99</max>
																				<tooltip>Set vibrato depth</tooltip>
																				<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																				<handler function="OnVibratoDepthChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																			</object>
																			<flag>wxALL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer17" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
																				<label>Rate</label>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																		</object>
																		<object class="sizeritem">
																			<object class="wxSlider" name="ID_SLIDER4" variable="m_pSliderVibratoRate" member="yes">
																				<max>99</max>
																				<tooltip>Set vibrato rate</tooltip>
																				<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																				<handler function="OnVibratoRateChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																			</object>
																			<flag>wxALL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer18" member="no">
																		<orient>wxVERTICAL</orient>
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
																				<label>Delay</label>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																		</object>
																		<object class="sizeritem">
																			<object class="wxSlider" name="ID_SLIDER6" variable="m_pSliderVibratoDelay" member="yes">
																				<max>99</max>
																				<tooltip>Set vibrato delay</tooltip>
																				<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																				<handler function="OnVibratoDelayChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
																			</object>
																			<flag>wxALL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Voice Editor</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PNLOPERATION" variable="m_pPnlOperation" member="yes">
							<tooltip>Select operation editor tab</tooltip>
							<object class="wxBoxSizer" variable="BoxSizer5" member="no">
								<object class="sizeritem">
									<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW2" variable="SplitterWindow2" member="yes">
										<sashgravity>1.000000</sashgravity>
										<minpanesize>10</minpanesize>
										<orientation>vertical</orientation>
										<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW3" variable="ScrolledWindow1" member="yes">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<orient>wxVERTICAL</orient>
											</object>
										</object>
										<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW4" variable="ScrolledWindow2" member="yes">
											<style>wxVSCROLL</style>
											<object class="wxBoxSizer" variable="BoxSizer7" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer19" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText12" member="yes">
																<label>Operation Name</label>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TXTOPERATIONNAME" variable="m_pTxtOperationName" member="yes">
																<maxlength>12</maxlength>
																<validator>m__validateVoiceName</validator>
																<tooltip>Edit operation name</tooltip>
																<handler function="OnTxtVoiceNameText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
												</object>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Operation Editor</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_KBD" subclass="Keyboard" variable="m_pKeyboard" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
					<include_file>keyboard.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuOpen" variable="MenuItem3" member="yes">
					<label>&amp;Open</label>
					<accel>Ctrl+O</accel>
					<help>Open file</help>
					<handler function="OnOpenFile" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItem4" member="yes">
					<label>&amp;Save</label>
					<accel>Ctrl+S</accel>
					<help>Save voice data to file</help>
					<handler function="OnSaveFile" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="m_pStatusbar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
