<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="VZLine">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>LINE WIDGET</label>
					<font>
						<size>18</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
					</font>
					<style>wxALIGN_CENTRE|wxSIMPLE_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
