<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="VZModule">
		<size>-1,-1</size>
		<id_arg>0</id_arg>
		<object class="wxStaticBoxSizer" variable="m_pSizerModule" member="yes">
			<label>Module</label>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer5" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHKENABLE" variable="m_pChkEnable" member="yes">
									<label>Enable</label>
									<checked>1</checked>
									<tooltip>Enable module</tooltip>
									<handler function="OnEnable" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHKEXTPHASE" variable="m_pChkExtPhase" member="yes">
									<label>Ext Phase</label>
									<tooltip>Enable external phase</tooltip>
									<handler function="OnExtPhase" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
							<label>DCO</label>
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_pLblWaveform" member="yes">
									<label>Waveform</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CMBWAVEFORM" variable="m_pChoiceWaveform" member="yes">
									<content>
										<item>Sine</item>
										<item>Saw 1</item>
										<item>Saw 2</item>
										<item>Saw 3</item>
										<item>Saw 4</item>
										<item>Saw 5</item>
										<item>Noise 1</item>
										<item>Noise 2</item>
									</content>
									<selection>0</selection>
									<tooltip>Select DCO Waveform</tooltip>
									<handler function="OnWaveform" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText3" member="yes">
									<label>Detune Course</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDERDETUNEOCTAVE" variable="m_pSliderDetuneOctave" member="yes">
									<min>-128</min>
									<max>127</max>
									<tooltip>Set DCO detune in semitone steps</tooltip>
									<handler function="OnDetuneCourse" entry="EVT_COMMAND_SCROLL_CHANGED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText4" member="yes">
									<label>Detune Fine</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDERDETUNEFINE" variable="m_pSliderDetuneFine" member="yes">
									<value>32</value>
									<max>63</max>
									<tooltip>Set DCO detune in 1.6 cent steps</tooltip>
									<handler function="OnDetuneFine" entry="EVT_COMMAND_SCROLL_CHANGED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer1" member="no">
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHKFIXEDFREQ" variable="m_pChkFixedFreq" member="yes">
											<label>Fixed Freq</label>
											<tooltip>Select DCO fixed frequency</tooltip>
											<handler function="OnFixedFreq" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHKX16" variable="m_pChkX16" member="yes">
											<label>x16</label>
											<tooltip>Select DCO frequency detune multiplier</tooltip>
											<handler function="OnX16" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
							<label>DCA</label>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer4" member="no">
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
											<label>Amplitude Envelope</label>
											<object class="sizeritem">
												<object class="Custom" name="ID_ENVELOPEAMP" subclass="EnvelopeGraph" variable="m_pGraphDCA" member="yes">
													<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
													<include_file>envelopegraph.h</include_file>
													<local_include>1</local_include>
													<style></style>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDERENVDEPTH" variable="m_pSliderEnvDepth" member="yes">
													<value>99</value>
													<max>99</max>
													<tooltip>Set DCA amplitude envelope depth</tooltip>
													<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													<handler function="OnEnvDepth" entry="EVT_COMMAND_SCROLL_CHANGED" />
												</object>
												<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
												<border>5</border>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
											<label>Key Follow</label>
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_BMPKEYBOARD" variable="m_pBmpKeyboard" member="yes">
													<bitmap code="wxBitmap(keyboard_xpm)" />
													<style>0</style>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="Custom" name="ID_ENVELOPEKEY" subclass="EnvelopeGraph" variable="m_pGraphKeyfollow" member="yes">
													<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
													<include_file>envelopegraph.h</include_file>
													<local_include>1</local_include>
													<style></style>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer6" member="no">
											<label>Key Velocity</label>
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CMBKEYVELCURVE" variable="m_pChoiceKeyVelCurve" member="yes">
													<content>
														<item>Curve 1</item>
														<item>Curve 2</item>
														<item>Curve 3</item>
														<item>Curve 4</item>
														<item>Curve 5</item>
														<item>Curve 6</item>
														<item>Curve 7</item>
														<item>Curve 8</item>
													</content>
													<selection>0</selection>
													<tooltip>Select DCA key velocity curve</tooltip>
													<handler function="OnKeyVelCurve" entry="EVT_CHOICE" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDERVELSENSITIVITY" variable="m_pSliderVelSensitivity" member="yes">
													<max>31</max>
													<tooltip>Set DCA key velocity sensitivity</tooltip>
													<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													<handler function="OnKeyVelSens" entry="EVT_COMMAND_SCROLL_CHANGED" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer7" member="no">
											<label>Sensitivity</label>
											<orient>wxVERTICAL</orient>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDERAMPSENS" variable="m_pSliderAmpSens" member="yes">
													<value>7</value>
													<max>7</max>
													<tooltip>Set DCA sensititivy to external modulation</tooltip>
													<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													<handler function="OnSensitivity" entry="EVT_COMMAND_SCROLL_CHANGED" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
