<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="VZModule">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
			<rows>1</rows>
			<growablecols>2,4</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="m_pLblTitle" member="yes">
							<label>Mx</label>
							<font>
								<size>12</size>
								<style>normal</style>
								<weight>bold</weight>
								<underlined>0</underlined>
								<family>swiss</family>
								<face>Arial</face>
							</font>
						</object>
						<flag>wxALL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHKENABLE" variable="m_pChkEnable" member="yes">
							<label>Enable</label>
							<checked>1</checked>
							<tooltip>Enable module</tooltip>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHKEXTPHASE" variable="m_pChkExtPhase" member="yes">
							<label>Ext Phase</label>
							<enabled>0</enabled>
							<tooltip>External phase</tooltip>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>DCO</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="m_pLblWaveform" member="yes">
									<label>Waveform</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE3" variable="m_pCmbWaveform" member="yes">
									<content>
										<item>Sine</item>
										<item>Saw 1</item>
										<item>Saw 2</item>
										<item>Saw 3</item>
										<item>Saw 4</item>
										<item>Saw 5</item>
										<item>Noise 1</item>
										<item>Noise 2</item>
									</content>
									<selection>0</selection>
									<tooltip>DCO Waveform</tooltip>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText3" member="yes">
									<label>Detune Course</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER8" variable="m_pSliderDetuneOctave" member="yes">
									<min>-128</min>
									<max>127</max>
									<tooltip>Detune DCO in semitone steps</tooltip>
									<handler function="Onm_pSliderDetuneOctaveCmdScroll" entry="EVT_COMMAND_SCROLL" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText4" member="yes">
									<label>Detune Fine</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER1" variable="m_pSliderDetuneFine" member="yes">
									<value>32</value>
									<max>63</max>
									<tooltip>Detune DCO in 1.6 cent steps</tooltip>
									<handler function="Onm_pSliderDetuneFineCmdScroll" entry="EVT_COMMAND_SCROLL" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer1" member="no">
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX2" variable="m_pChkFixedFreq" member="yes">
											<label>Fixed Freq</label>
											<tooltip>DCO Fixed frequency</tooltip>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX3" variable="m_pChkX16" member="yes">
											<label>x16</label>
											<tooltip>DCO frequency detune multiplier</tooltip>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_LEFT</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>DCA</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<rows>1</rows>
							<growablecols>0</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
									<label>Amplitude Envelope</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<rows>1</rows>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText6" member="yes">
													<label>ENV</label>
													<size>122,13</size>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
													<cols>1</cols>
													<growablerows>0</growablerows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT15" variable="m_pLblDepth" member="yes">
															<label>Env Depth</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER11" variable="m_pSliderEnvDepth" member="yes">
															<value>99</value>
															<max>99</max>
															<tooltip>DCA Amplitued envelope depth</tooltip>
															<style>wxSL_VERTICAL|wxSL_INVERSE</style>
															<handler function="Onm_pSliderEnvDepthCmdScroll" entry="EVT_COMMAND_SCROLL" />
														</object>
														<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX4" variable="m_pEnvRange" member="yes">
															<label>Range</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALIGN_LEFT</flag>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
									<label>Key Follow</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="m_pBmpKeyboard" member="yes">
													<bitmap>D:\PJ\miditest\images\keyboard.png</bitmap>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText5" member="yes">
													<label>ENV</label>
													<size>122,13</size>
													<style>wxALIGN_CENTRE</style>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
									<label>Key Velocity</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
											<cols>1</cols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CHOICE4" variable="m_pCmbCurve" member="yes">
													<content>
														<item>Curve 1</item>
														<item>Curve 2</item>
														<item>Curve 3</item>
														<item>Curve 4</item>
														<item>Curve 5</item>
														<item>Curve 6</item>
														<item>Curve 7</item>
														<item>Curve 8</item>
													</content>
													<selection>0</selection>
													<tooltip>DCA key velocity curve</tooltip>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER9" variable="m_pSliderVelSensitivity" member="yes">
													<max>31</max>
													<tooltip>DCA key velocity sensitivity</tooltip>
													<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													<handler function="Onm_pSliderVelSensitivityCmdScroll" entry="EVT_COMMAND_SCROLL" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer6" member="no">
									<label>Sensitivity</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
											<cols>1</cols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER10" variable="m_pSliderAmpSens" member="yes">
													<value>7</value>
													<max>7</max>
													<tooltip>DCA Sensititivy to external modulation</tooltip>
													<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													<handler function="Onm_pSliderAmpSensCmdScroll" entry="EVT_COMMAND_SCROLL" />
												</object>
												<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
